.boxes{
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    /* border: 1px solid black;
    width: 70vw;
    margin-left: 20%;
    margin-top: 100px; */
}

.main-component{
    display: flex;
}
.right-main {
    width: 100%;
}
