.takenotethree {
    height:100%;
    width:15vw;
    border:1px solid rgb(200, 198, 198);
    border-radius:7px;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 4rem;
    padding: 1rem 1rem;
}

.toptakenotethree{
    display: flex;
    justify-content: space-between;
}

.bottomtakenotethree{
    display:flex ;
    justify-content: space-between;
    margin-top: 1rem;
}

/* .tnti{
    display:none !important;
}

.takenotethree:hover .tnti{
    display: block !important;
} */


.tarea{
    background: none;
}



.css-1wnsr1i{
    border: none !important;
    border-radius: 7px;
}

.tnti {
    margin: 0 4px 0 4px;
}
.css-i4bv87-MuiSvgIcon-root{
    color:black
}