.signin-form{
border: 1px solid rgb(218, 213, 213);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 25em;
border-radius: 7px;
padding: 1rem;
}

.sign-in-text h2{
    font-size: 24px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
    position: relative;
    bottom: 1rem;
}

.continue p{
    position: relative;
    bottom: 2rem;
}

.logo img{
    width: 75px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 100vh;
    width: 100vw;
}

.email-or-phone{
    margin-bottom: 2rem;
}

.not-your-pc p{ 
    text-align: center;
    font-size: small;
}

.create-account{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    width: 90%;
}

.forgot-email h5{
    color: rgb(58, 58, 184);
    cursor: pointer;
}

.learn-more h5{
    color: rgb(58, 58, 184);
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .signin-form{
        border: none;
        position: relative;
        bottom: 8rem;
    }
}