.takeNoteOne{
    width: 10rem;
    border: 1px solid rgb(184, 179, 179);
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    padding: .5rem 1rem;
    border-radius: 7px;
    margin-top: 2rem;
    -webkit-box-shadow: -1px 0px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 20px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 20px -10px rgba(0,0,0,0.75);
}

.right-icons{
    display: flex;
}

input{
    outline: none;
    background:none;
    border: none;
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.icon{
    margin-right: 15px;
}