.takeNoteTwo{
    width: 10rem;
    border: 1px solid rgb(184, 179, 179);
    width: 30%;
    margin: 0 auto;
    padding: .5rem 1rem;
    border-radius: 7px;
    margin-top: 2rem;
    -webkit-box-shadow: -1px 0px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 20px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 20px -10px rgba(0,0,0,0.75);
}

.toptakenotetwo{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

textarea{
    width: 100%;
    margin-top: 1rem;
    outline: none;
    resize: none;
    border: none;
    font-size: 16px;
}

input{
    font-size: 16px;
}

.bottomtakenotetwo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.icontwo{
    color: #5f6368;
    cursor: pointer;
}

.ico{
    color: #c9cccf;
    cursor: pointer;
}

span{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #4d5053;
}

.iconstakenotetwo{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.toptakenotetwo input{
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}