.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 100vh;
    width: 100vw;
}

.sign-up-form{
    display: flex;
    border: 1px solid rgb(213, 207, 207);
    padding: 3rem;
    border-radius: 7px;
}

.top img{
    width: 250px;
}

.fourth {
    display: flex;
}

.fourth div{
    padding: 2px;
}

.sixth div{
    padding:2px;
}

.fifth{
    padding: 2px;
}

.username{
    width: 100%;
}

.sixth{
    display: flex;
}

.eight{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.second h2{
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right p{
    text-align: center;
}

@media screen and (max-width:500px) {
    .right{
        display:none;
    }

    .sign-up-form{
        border: none;
        position: relative;
        bottom: 6rem;
    }

    .fourth{
        flex-direction: column;
        
    }

    .first-name{
        width: 99%;
    }
    
    .last-name{
        width: 99%;
    }

    .sixth{
        flex-direction: column;
    }

    .confirm-password{
        width: 99%;
    }

    .password{
        width: 99%;
    }
}